@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dunggeunmo";
    font-weight: normal;
    src:url("./fonts/NeoDunggeunmoPro-Regular.ttf") format("truetype");
}

body {
    font-family: "Dunggeunmo";
}
